.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(100, 116, 139, 0.2);
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid rgba(100, 116, 139, 0.2);
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #f6f8f8;
  overflow: hidden;
  cursor: grab;
}

:where(.dark, .dark *) .carousel-container {
  border-color: rgba(100, 116, 139, 0.3);
}

:where(.dark, .dark *) .carousel-item {
  background-color: #1e293b;
  border-color: rgba(100, 116, 139, 0.3);
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carousel-icon-container {
  display: flex;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #13ecc8;
  color: #0f172a;
}

.carousel-icon {
  height: 20px;
  width: 20px;
}

.carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #0f172a;
}

:where(.dark, .dark *) .carousel-item-title {
  color: #f1f5f9;
}

.carousel-item-description {
  font-size: 14px;
  color: #64748b;
}

:where(.dark, .dark *) .carousel-item-description {
  color: #94a3b8;
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #13ecc8;
}

.carousel-indicator.inactive {
  background-color: #cbd5e1;
}

:where(.dark, .dark *) .carousel-indicator.inactive {
  background-color: #475569;
}